<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="/">
            Realme Updater
          </a>
        </li>
        <li>
          <a href="/about/">
            About Us
          </a>
        </li>
        <li>
          <a href="/donate/">
            Donate
          </a>
        </li>
        <li>
          <a href="/privacy/">
            Privacy Policy
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="https://www.github.com/yshalsager" target="_blank">yshalsager</a>.
    </div>
  </div>
</footer>