<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg bg-dark" color-on-scroll="100"
  id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/" style="padding: 0px;"><img src="/img/logo.png" style="width:50px; height:50px; margin-right: 10px;" alt="logo"/>Realme Updater</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="material-icons">home</i> Home
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">cloud_download</i> Downloads
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a href="/downloads/latest" class="dropdown-item">
              <i class="material-icons">new_releases</i> Latest
            </a>
            <a href="/downloads/archive" class="dropdown-item">
              <i class="material-icons">archive</i> Archive
            </a>
          </div>
        </li>
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">expand_more</i> More
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/faq" class="dropdown-item">
                <i class="material-icons">help</i> FAQ
              </a>
              <a href="/supported" class="dropdown-item">
                <i class="material-icons">phone_android</i> Supported Devices
              </a>
              <a href="/blog" class="dropdown-item">
                <i class="material-icons">book</i> Blog
              </a>
              <a href="/about" class="dropdown-item">
                <i class="material-icons">info</i> About
              </a>
              <a href="/team" class="dropdown-item">
                <i class="material-icons">group</i> Our Team
              </a>
              <a href="/contact-us" class="dropdown-item">
                <i class="material-icons">email</i> Contact Us
              </a>
              <a href="/privacy" class="dropdown-item">
                <i class="material-icons">security</i> Privacy Policy
              </a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>