<div class="alert" style="background-color: #1f97c9; color: #fff;">
    <div class="container">
        <i class="fa fa-telegram"></i>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <a href="https://t.me/RealmeUpdatesTracker" style="color: #fff;">Follow Realme Updates Tracker on Telegram to
            get notified when a new update is available!</a></div>
</div>